fastapi
uvicorn
accelerate>=0.30.0
transformers>=4.40.0
diffusers>=0.31.0
einops
sentencepiece
safetensors
imageio
imageio[ffmpeg]
Pillow
huggingface_hub>=0.21.0
python-multipart
protobuf<=3.20.3
xformers
