fastapi
uvicorn
torch
accelerate
transformers>=4.39.0
diffusers>=0.27.0
einops
sentencepiece
safetensors
imageio
imageio[ffmpeg]
opencv-python
xformers
huggingface_hub>=0.21.0
Pillow
protobuf
python-multipart
moviepy
