fastapi
uvicorn
torch
accelerate>=0.30.0
transformers>=4.40.0
diffusers>=0.31.0
einops
sentencepiece
safetensors
imageio
imageio[ffmpeg]
opencv-python
xformers
huggingface_hub>=0.21.0
Pillow
protobuf
python-multipart
moviepy
